<!-- views/zap.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send WhatsApp Message</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px; /* Ajuste conforme necessário */
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      position: relative; /* Adiciona posição relativa para o botão */
    }

    button:hover {
      background-color: #45a049;
    }

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; /* Inicialmente oculto */
    }

    /* Estilos para o campo de seleção de arquivo */
    #csvFile {
      margin-bottom: 16px;
    }

    #csvFileLabel {
      display: block;
      margin-bottom: 8px;
    }

    .progress-container {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.progress-bar {
  height: 20px;
  width: 0;
  background-color: #4caf50;
  border-radius: 8px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  transition: width 0.3s ease;
}

  </style>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io()
    // Listen for progress updates
  socket.on('progress', (progress) => {
    document.getElementById('btn').setAttribute('disabled')
    updateProgress(progress);
  });

  function updateProgress(progress) {
  const progressElement = document.getElementById('progress');
  const progressBar = document.getElementById('myBar');

  if (progress.total > 0) {
    const percent = (progress.current / progress.total) * 100;
    progressElement.innerHTML = `Progresso: ${progress.current} de ${progress.total}`;
    progressBar.style.width = percent + '%';
    progressBar.innerHTML = Math.round(percent) + '%';
  }
} 
  </script>

  <form action="/zap-csv" method="POST" enctype="multipart/form-data">
    <h1>Send WhatsApp Message</h1>
    <% if (error) { %>
      <div style="color: red; margin-bottom: 10px;"><%= error %></div>
    <% } else if (success) { %>
      <div style="color: green; margin-bottom: 10px;"><%= success %></div>
    <% } %>

    <label for="message">Mensagem:</label>
    <input type="text" id="message" name="message" required>

    <!-- Adicionando campo para seleção de arquivo -->
    <label id="csvFileLabel" for="csvFile">Arquivo CSV:</label>
    <input type="file" id="csvFile" name="csvFile" accept=".csv">

    <!-- Adicionando ícone de loading -->
    <button type="submit" id="'btn">
      Enviar
      <i class="fas fa-spinner fa-spin loading"></i>
    </button>

    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
  </form>

</body>
</html>
