<!-- views/zap.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send WhatsApp Message</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px; /* Ajuste conforme necessário */
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      position: relative; /* Adiciona posição relativa para o botão */
    }

    button:hover {
      background-color: #45a049;
    }

    

    #csvFile {
      margin-bottom: 16px;
    }

    #csvFileLabel {
      display: block;
      margin-bottom: 8px;
    }

    #progress {
      margin-top: 10px;
    }

button:disabled {
  background-color: #cccccc; /* Cor de fundo quando desativado */
  color: #666666; /* Cor do texto quando desativado */
  cursor: not-allowed; /* Altera o cursor para indicar indisponibilidade */
  /* Outros estilos desejados para quando o botão estiver desativado */
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #4CAF50; /* Cor verde */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


  </style>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io()
    // Listen for progress updates
  socket.on('progress', (progress) => {
    updateProgress(progress);
  });



  function updateProgress(progress) {
    const progressElement = document.getElementById('progress');
    if (progress.total > 0) {
      document.getElementById('loading').style = 'display:block;'
      document.getElementById('btn').setAttribute('disabled',true)
      progressElement.innerHTML = `Progresso: ${progress.current} de ${progress.total} mensagens enviadas`;

      if(progress.current === progress.total ){
        document.getElementById('loading').style = 'display:none;'
        document.getElementById('btn').removeAttribute('disabled')
      }
    }
  } 
  </script>

  <form action="/zap-csv" method="POST" enctype="multipart/form-data">
    <h1>Send WhatsApp Message</h1>
    <% if (error) { %>
      <div style="color: red; margin-bottom: 10px;"><%= error %></div>
    <% } else if (success) { %>
      <div style="color: green; margin-bottom: 10px;"><%= success %></div>
    <% } %>

    <label for="message">Mensagem:</label>
    <input type="text" id="message" name="message" required>

    <!-- Adicionando campo para seleção de arquivo -->
    <label id="csvFileLabel" for="csvFile">Arquivo CSV:</label>
    <input type="file" id="csvFile" name="csvFile" accept=".csv">

    <button type="submit" id="btn">
      Enviar
    </button>

  
    <div id="progress">
    </div>

    <div id="loading" style="display: none;" class="loading-spinner"></div>

  </form>

</body>
</html>
