<!-- views/zap.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send WhatsApp Message</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px; /* Ajuste conforme necessário */
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      position: relative; /* Adiciona posição relativa para o botão */
    }

    button:hover {
      background-color: #45a049;
    }

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; /* Inicialmente oculto */
    }

    /* Estilos para o campo de seleção de arquivo */
    #csvFile {
      margin-bottom: 16px;
    }

    #csvFileLabel {
      display: block;
      margin-bottom: 8px;
    }

    #progress {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <form action="/zap-csv" method="POST" enctype="multipart/form-data">
    <h1>Send WhatsApp Message</h1>
    <% if (error) { %>
      <div style="color: red; margin-bottom: 10px;"><%= error %></div>
    <% } else if (success) { %>
      <div style="color: green; margin-bottom: 10px;"><%= success %></div>
    <% } %>

    <label for="message">Mensagem:</label>
    <input type="text" id="message" name="message" required>

    <!-- Adicionando campo para seleção de arquivo -->
    <label id="csvFileLabel" for="csvFile">Arquivo CSV:</label>
    <input type="file" id="csvFile" name="csvFile" accept=".csv">

    <!-- Adicionando ícone de loading -->
    <button type="submit">
      Enviar
      <i class="fas fa-spinner fa-spin loading"></i>
    </button>

    <div id="progress">
      <% if (progress.total > 0) { %>
        Progresso: <%= progress.current %> de <%= progress.total %>
      <% } %>
    </div>

  </form>
  <script>
      function startPolling() {
        // Inicia o polling para verificar o progresso a cada 5 segundos
        setInterval(updateProgress, 5000);
      }

      async function updateProgress() {
        try {
          // Faz uma requisição AJAX para obter o progresso atual
          const response = await fetch('/get-progress');
          const progressData = await response.json();

          // Atualiza o elemento de progresso na página
          const progressElement = document.getElementById('progress');
          progressElement.innerHTML = `Progresso: ${progressData.current} de ${progressData.total}`;
        } catch (error) {
          console.error('Erro ao obter progresso:', error);
        }
      }
    </script>

</body>
</html>
